.chat-img img, .chat-img1 img {
  height: 34px;
  width: 34px;
  margin-right: 10px;
}

.colPanel {
  padding-right: 0;
  padding-left: 0;
}

.messageItem {
  padding-bottom: 10px;
}

.TicketWindow .placeHolder {
  text-align: center;
  vertical-align: middle;
}

.TicketWindow .placeHolderImg {
  display: block; /*for the img inside your div */
  margin-left: auto;
  margin-right: auto;
}

.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	height: auto;
	background-color: lightyellow;
}
